<div class="box">
  <form class="item" #f="ngForm" (ngSubmit)="f.form.valid && onGuardarPersona()">
    <input type="text" name="Name" placeholder="Name" [(ngModel)]="nombreInput" required/>
    <input type="text" name="Last Name" placeholder="Last Name" [(ngModel)]="apellidoInput" required/>
    <button type="submit" style="cursor: pointer">+</button>
    <button *ngIf="index != null" type="submit" style="cursor: pointer" class="buttonRed" (click)="onEliminarPersona()">
      -
    </button>
  </form>
</div>

